* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	line-height: 1.5em;
	font-size: 1.2rem;
}

h1,
h2,
h3 {
	font-weight: 500;
}

img {
	max-width: 100%;
}

.title {
	text-align: center;
	font-size: 2rem;
	padding: 0.3em 0.5em;
	margin: 2em 0 0.5em 0;
}

.game-box {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 2em 3em;
	width: 90%;
	max-width: 45em;
}

.game-box > * {
	width: 100%;
}

.final-choices {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
}

.final-choices img {
	max-width: 50px;
}

.players-choices {
	display: flex;
	justify-content: space-between;
	align-self: center;
	padding-top: 1em;
	max-width: 20em;
	gap: 1em;
}

.choice {
	cursor: pointer;
	padding: 0.5em;
}

.important {
	font-weight: 500;
}

.computer-score,
.player-score {
	font-weight: 600;
}

.computer-choice img,
.player-choice img {
	animation: 0.4s show ease-in;
}

.start-text {
	transition: all 0.8s ease-in-out;
	position: relative;
}

/* Hide an element */
.hide {
	margin-top: -50px;
	opacity: 0;
	z-index: -10;
}

/* Slowly load image */
@keyframes show {
	0% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}
